body {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: "Lato", sans-serif;
  background: rgb(248, 188, 77);
  background: radial-gradient(
    circle,
    rgb(250, 223, 72) 0%,
    rgb(146, 211, 126) 100%
  );
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
}

.placeholder {
  color: white;
  font-size: 48px;
  align-self: flex-end;
}
